<div class="header">
    <label for="location">Happy Dance & Music | </label>
    <select id="location">
        <option ng-repeat="location in locations">{{location.location_name}}</option>
    </select>
</div>
<div class="panel">
    <div class="panel-title">
        <h2>Studio Settings</h2>
    </div>

    <div class="panel-nav">
        <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#" id="default">Class Types</a></li>
            <li><a href="#">Managers</a></li>
            <li><a href="#">Billing Info</a></li>
            <li><a href="#">Merchant Account</a></li>
        </ul>
    </div>
    <div class="accordion__container">
        <div class="accordion__tab" ng-repeat="location in locations">
            <div class="accordion__tab-title" ng-click="openTab(location.location_name)">
                {{location.location_name}}&nbsp;&nbsp;<i
                    ng-class="isOpenTab(location.location_name) ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i>
            </div>
            <div class="accordion__tab-content" ng-show="isOpenTab(location.location_name)">
                <form>
                    <div class="double-col">
                        <label for="location-input">Location Name</label>
                        <input id="location-input" type="text" ng-value="location.location_name">
                    </div>

                    <div class="input-col">
                        <label for="address-input">Address</label>
                        <input id="address-input" type="text" ng-value="location.address">

                        <label for="city-input">City</label>
                        <input id="city-input" type="text" ng-value="location.city">
                    </div>

                    <div class="input-col">
                        <label for="address2-input">Address 2</label>
                        <input id="address2-input" type="text" ng-value="location.address2">
                        <div class="inline-form">
                            <label for="state">State</label>

                            <select id="state">
                                <option ng-repeat="state in states"
                                        ng-selected="state.abbreviation === location.state">{{state.abbreviation}}</option>
                            </select>


                            <input id="zip" type="text" placeholder="Zip">
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="accordion__tab">
            <div id="create-item" class="accordion__tab-title" ng-click="openTab('newTab')">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;Create New Location
            </div>

            <div class="accordion__tab-content" ng-show="isOpenTab('newTab')">
                <p>Stuff to add new location...</p>
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-cancel">Cancel</button>
        <button class="btn btn-submit">Save Changes</button>
    </div>
</div>
