<div class="header">
    <h5>Happy Dance and Music | </h5>
    <div dropdown-select="locations" dropdown-model="selectedLocation"
         dropdown-item-label="location_name"></div>


</div>
<div class="panel">

    <div class="panel-title">
        <h2>Studio Settings</h2>
    </div>
    <nav class="panel-nav">
        <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#" id="default">Class Types</a></li>
            <li><a href="#">Managers</a></li>
            <li><a href="#">Billing Info</a></li>
            <li><a href="#">Merchant Account</a></li>
        </ul>
    </nav>
    <div class="accordion__container">
        <div class="accordion__tab" ng-repeat="location in locations">
            <div class="accordion__tab-title" ng-click="openTab(location.location_name)">
                {{location.location_name}}&nbsp;&nbsp;<i
                    ng-class="isOpenTab(location.location_name) ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i>
            </div>
            <div class="accordion__tab-content" ng-show="isOpenTab(location.location_name)">
                <form id="location-form">
                    <div class="left-form">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="location-input">Location Name</label>
                                <input id="location-input" type="text"
                                       ng-value="location.location_name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="address-input">Address</label>
                                <input id="address-input" type="text" ng-value="location.address">
                            </div>
                            <div class="form-group">
                                <label for="address2-input">Address 2</label>
                                <input id="address2-input" type="text" ng-value="location.address2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="city-input">City</label>
                                <input id="city-input" type="text" ng-value="location.city">
                            </div>
                            <div class="form-group">
                            <div dropdown-select="states" dropdown-model="stateSelect"
                                 dropdown-item-label="abbreviation"></div>
                            </div>
                            <div class="form-group">
                                <label for="zip">Zip</label>
                                <input id="zip" type="text" ng-value="location.zip">
                            </div>
                        </div>
                    </div>

                    <div class="right-form">
                        <div class="form-row">
                            <div class="form-group">
                                <input type="email" placeholder="Contact Email"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" placeholder="Reply to Email"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <input type="tel" placeholder="Phone"/>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="accordion__tab">
            <div id="create-item" class="accordion__tab-title" ng-click="openTab('newTab')">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;Create New Location
            </div>

            <div class="accordion__tab-content" ng-show="isOpenTab('newTab')">
                <p>Stuff to add new location...</p>
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button type="reset" class="btn btn-cancel">Cancel</button>
        <button type="submit" class="btn btn-submit">Save Changes</button>
    </div>
</div>

